@model Pantry.Web.Models.Restricted
@{
    Layout = null;
 }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restricted</title>
<style>
  body { background-color: #000; color: #fff; font:14px arial; }
  div { margin: 25px; }
  input { background-color: #000; color: #fff; border:1px solid #fff; padding:5px;}


</style>


</head>
<body>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { })) {
          @Html.LabelFor(m => @Model.Password, "Enter Password: ")
          @Html.PasswordFor(m => @Model.Password)
          <input type="submit" value="Go" />
          
        }
    </div>
</body>
</html>
