﻿@using Pantry.Entities
@using Pantry.Utilities

@{

  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Client Edit";

  Layout = vg.PageLayout;

  string backgroundColor = "#B2C2F0";

}


@if(false) {
  <script src="/Content/Scripts/angular.js"></script>
  <script src="/Content/Scripts/angular-route.js"></script>
  <script src="/Content/Scripts/angular-touch.js"></script>
  <script src="/Content/Scripts/Default.js"></script> }

@section scriptsTop {

  <script>



  </script>

}

<style>
  .pointerClick:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }

  #SubmitButtons {
    background: #8f8f8f;
    padding: 6px;
    color: #333333;
    font: normal 10px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 1000;
    height: 50px;
  }
</style>

@{
  //@section featured { }
}

<div id="EditWrapper" class="col-md-12" style="background-color: #B2C2F0; padding-top: 15px; padding-bottom:30px; " ng-controller="ExampleController">

  <input type="text" ng-model="name" />

  <select ng-model="color" ng-change="onColorChanged()">
    <option value="">select</option>
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="yellow">yellow</option>
  </select>

  <h2 ng-show="name">hello my name is {{name}}</h2>
  <h3 ng-show="color">my color <span title="{{color}}" style="background-color:{{color}}">&nbsp;&nbsp;</span></h3>

  <div ng-show="colorChangeCount > 0">
    The favorite color was changed {{colorChangeCount}} times.
  </div>


  <div id="SubmitButtons" class="box-footer" style="display: none; " >
    <button id="ApplyVisit" type="button" class="btn btn-primary">Apply Visit</button>
  </div>
</div>

<div ng-controller="SearchController">
  <the-Search />
</div>

<div ng-controller="PlayerController2a">
  <h2>Player 2</h2>
  <input type="text" placeholder="player 2" ng-model="player.name" ng-focus="player.onNameFocused()" />
  <h3 ng-show="player.name">player 2 {{player.name}}</h3>
  <h3 ng-show="player.prevName">prev name {{player.prevName}}</h3>

  <h3>player count all {{playercount}}</h3>
</div>


@*<div ng-controller="PlayerController2">
    <h2>Player 2</h2>
    <input type="text" placeholder="player 2" ng-model="name" ng-focus="onNameFocused()" />
    <h3 ng-show="name">player 2 {{name}}</h3>
    <h3 ng-show="prevName">prev name {{prevName}}</h3>
  </div>*@




@section scriptsBottom {

  <script>
    ; (function () {
      "use strict";

      var app = angular.module("myApp", []);
      app = angular.module('myApp').config(function($routeProvider) {
        $routeProvider.when('/search', {
          controller: 'SearchController',
          templateUrl: 'partials/search.html',
        }).when('/find', {
          controller: 'EditController',
          templateUrl: 'partials/edit.html',
        }).when('/select', {
          controller: 'SelectController',
          templateUrl: 'partials/select.html',
        });
      });
      app.controller('SearchController', ['$scope', 'searchService', searchCtrl]);
      app.controller('FindController', ['$scope', 'findService', findCtrl]);
      app.controller('EditController', ['$scope', 'editService', selectCtrl]);
      app.factory('searchService', [searchService]);
      app.factory('findService', [findService]);
      app.factory('editService', [editService]);
      app.directive('theSearch', function () {
        return {
          restrict: 'E',
          templateUrl: 'search.html'
        };
      });

      function searchService() {
        var playercount = 0;
        var createDefaultPlayer = function () {
          playercount += 1;
          var player = {
            name: "",
            prevName: ""
          };
          player.onNameFocused = function () {
            player.prevName = player.name;
          };
          return player;
        };
        return {
          createPlayer: function (name) {
            var player = createDefaultPlayer();
            player.name = name;
            return player;
          },
          getPlayerCount: function () {
            return playercount;
          }
        }

      }

      function searchCtrl($scope) {
        $scope.colorChangeCount = 0;
        $scope.onColorChanged = function () {
          $scope.colorChangeCount++;
        };
      };

      function findCtrl($scope) {
        $scope.name = "Lucas";
        $scope.prevName = "";
        $scope.onNameFocused = function () {
          $scope.prevName = $scope.name;
        };
      };

      function selectCtrl($scope) {
        $scope.name = "Kaleb";
        $scope.prevName = "";
        $scope.onNameFocused = function () {
          $scope.prevName = $scope.name;
        };
      };

      function searchService($scope) {
        $scope.name = "Kaleb";
        $scope.prevName = "";
        $scope.onNameFocused = function () {
          $scope.prevName = $scope.name;
        };
      };

      function findService($scope, playerService) {
        $scope.families = {list:[
        {
          "FirstName": "Lucas"
          , "LastName":"Rainor"
          , "Social": 1234
          , "FamilyID": 4321
        },
        {
          "FirstName": "Kaleb"
          , "LastName": "Logan"
          , "Social": 6789
          , "FamilyID": 9876
        }
        ]};
      };

      function editService($scope, playerService) {
        $scope.player = playerService.createPlayer('Kaleb');
        $scope.playercount = playerService.getPlayerCount();
      };

    }());

  </script>



  <script>
    var head = {
      FirstName: "kaleb",
      LastName: "brunner",
      Address1: "20632 Courtney Lane",
      Address2: "",
      City: "Eustis",
      State: "Florida",
      Zip: "32736",
      Phone: "4074305020",
      Email: "kevinnbrunner@gmail.com",
      Social: "6493",
      PIN: "1234"

    }


    var members = {
      members: [
        {
          FirstName: "Lucas",
          LastName: "Brunner",
          FamilyRelationship: "Son",
          Month: "August",
          Year: "2001",
          IsActive: true
        }
      ]
    }

  </script>

}

