﻿@{
  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
  <header>
    <h3>Email</h3>
  </header>
  <p>
    <span class="label">General:</span>
    <span><a href="mailto:jerryD@gmail.com">JerryDoyle@gmail.com</a></span>
  </p>
  <p>
    <span class="label">Marketing:</span>
    <span><a href="mailto:jerrys@gmail.com">JerryS@gmail.com</a></span>
  </p>
  <p>
    <span class="label">Support:</span>
    <span><a href="mailto:kevinnbrunner@gmail.com">kevinnbrunner@gmail.com</a></span>
  </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
      550 Hatfield Dr
      <br />
      Umatilla, FL 32784
      <br />
      (352) 669-3214
    </p>
</section>