﻿@using Pantry.Entities
@using Pantry.Utilities

@{

  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Home";

}


@if(false) {
  <script src="/Content/Scripts/jquery.js"></script>
  <script src="/Content/Scripts/jquery.extra.js"></script>
  <script src="/Content/Scripts/Default.js"></script> }


@section scriptsTop{

  <script>

  </script>

}

<style>
  .pointerClick:hover { cursor: pointer; color: blue; text-decoration: underline; }
</style>

@section featured {
}


<div id="EditWrapper" class="col-md-12" style="">
  <h1>
    <a href="/Home/Edit">Client Page</a>
  </h1>
</div>


@section scriptsBottom{


<script>

  jQuery("#SearchQ2").keyup(function (event) {
    if (event.which == 13) {
      Search()
    }
  });

  jQuery("#searchBtn2").click(function () {
    Search()
  });

</script>


}

