﻿li { list-style-type: none; }


#jwmOverlay { position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: #1A202E; cursor: pointer; display: block; z-index: 1100; opacity: 0.6; }
#jwmWrap {
  z-index: 1101;
  position: absolute;
  width: 644px;
  left: 30%;
  top: 31%;
  /* padding: 20px; is this needed?  adds a scroll bar to some pages */
}
#aajwmContent { height: auto; width: auto; z-index: 1102; float: left;  }
#jwmContent { height: auto; width: auto; z-index: 1102; margin: auto;  }
#jwmClose { float: right; width: 30px; height: 30px; background: transparent url('/Content/Images/Interface/fancy_close.png') -30px 0 no-repeat; cursor: pointer; z-index: 1103;  position: relative; margin-left: -30px; }

.jwmPopupContentCss { 
  /*border: 1px solid #3B3E4A;*/ 
  background-color: #000000; 
  padding: 4px; 
  border: 2px solid rgb(187, 192, 200);
  border: 2px solid rgba(187, 192, 200, .7);
  border-radius: 13px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 26, 44, 0.5)),to(rgba(9, 5, 5, 1)), color-stop(.5,#060e17));
  background-image: -moz-linear-gradient(rgba(10, 26, 44, 0.5) 35%, rgba(9, 5, 5, 1) 100%);
  background-image: -ms-linear-gradient(rgba(10, 26, 44, 0.5) 35%, rgba(9, 5, 5, 1) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#08121E', endColorstr='#090505')";          /*IE-9*/ 

}
/* .jwmPopupContentCss li { width: auto; padding: 10px 20px 10px 20px; } */
.jwmPopupMessageTitleText { color: #FCBB15; margin: 5px 0 15px; padding: 10px; }

#jwmPopupErrorWindow,
#jwmPopupChangedWindow,
#jwmPopupFailureWindow,
#jwmPopupSuccessWindow,
#jwmPopupRetainedWindow,
#jwmPopupWindow { background-color: #0A0D14; color: #FFFFFF; width: 475px; height: auto; margin: 20px; display: none; border: 1px solid #565A65; padding: 0 0 20px 0; } /* padding: 20px; */

#jwmPopupWindow ul { padding: 30px; margin: 0px; color: #FFFFFF; }
.jwmPopupMessageCentered { text-align: center; margin: 20px 0 0 0; font-size: 18px; }


.jwmPopupMessageWithNormalBold,
.jwmPopupMessageWithTitleBold {
  /*background-color: #0A0D14;*/
  width: 520px;
  display: none;
  /* 
    border: 1px solid #1E1E1E;
    border-bottom: 0px; 
    border: 2px solid rgba(187, 192, 200, 0.7);
    border-radius: 13px 13px 13px 13px;}
  */
}

.jwmPopupStatusHead h3 {
  color: #FFFFFF; font-weight: bold; font-size: 18px; padding: 20px;
}

.jwmPopupMessageBodyDiv {
  color: #FFFFFF;
  padding: 20px 20px 50px 30px;
 /* border-bottom: 1px solid #1E1E1E; */
  /*background-color: #0A0D14;*/
  line-height: 30px;
}

.jwmPopupMessageBodyDiv p { 
  clear: both;
}

.jwmPopupMessageBodyDiv br {
  margin-bottom: 20px;
}

.jwmPopupMessageWithNormalBold h4 {
  margin-top: 20px; font-weight: bold;
}

.jwmPopupMessageWithTitleBold h4 {
  color: #FCBB15; margin-top: 20px;
}

.jwmPopupMessageWithTitleBold h3 {
  color: #FCBB15; margin-top: 20px;
}


.right-side > .content-header > .breadcrumb {
    background-color: #FFFFFF;
    clear: both;
    float: left;
}