﻿@using Pantry.Entities
@using Pantry.Utilities

@model Pantry.Web.Models.ClientMain

@{

  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Client Edit";

  Layout = vg.PageLayout;

  if(Model.FamilyWeb.FamilyHead.FamilyID == 0) {
    Model.FamilyWeb.FamilyHead.Year = "UKWN";
  }

  SelectList visitTypeSelectList = new SelectList(Enum.GetValues(typeof(VisitType)).Cast<VisitType>().Where(w => w != VisitType.Any).Select(v => new SelectListItem { Text = v.ToDescription(), Value = v.ToString() }).ToList(), "Value", "Text");

  List<SelectListItem> yearsSelectList  = new SelectList(Enumerable.Range((DateTime.Now.Year - 100), 101).Reverse()).ToList();
  yearsSelectList.Insert(0, (new SelectListItem { Text = "No Year", Value = "UKWN" }));

  SelectList familyRelationshipList = new SelectList(Enum.GetValues(typeof(FamilyRelationship)).Cast<FamilyRelationship>().Where(w => w != FamilyRelationship.All).Select(v => new SelectListItem { Text = v.ToDescription(), Value = v.ToString() }).ToList(), "Value", "Text");

  SelectList familyTypeSelectList = new SelectList(Enum.GetValues(typeof(FamilyType)).Cast<FamilyType>().Select(v => new SelectListItem { Text = v.ToDescription(), Value = v.ToString() }).ToList(), "Value", "Text");

  SelectList noteType = new SelectList(Enum.GetValues(typeof(NoteType)).Cast<NoteType>().Where(w => w != NoteType.All).Select(v => new SelectListItem { Text = v.ToString(), Value = v.ToString() }).ToList(), "Value", "Text");

  SelectList idTypeSelectList = new SelectList(Enum.GetValues(typeof(IdType)).Cast<IdType>().Select(v => new SelectListItem { Text = v.GetDescription(), Value = v.ToString() }).ToList(), "Value", "Text");

  string backgroundColor = "#B2C2F0";
  bool isFamilyEdit = false;
  string DisplayFormCss = "none;";
  string EditFormCss = "block; ";
  string fMemberClassName = "";

  if(Model.FamilyWeb.FamilyHead != null && Model.FamilyWeb.FamilyHead.FamilyID > 0) {
    DisplayFormCss = "block; ";
    EditFormCss = "none; ";
    isFamilyEdit = true;
    backgroundColor = "#B2E0C2";

    if(Model.IsPostBackSuccessful) {
      backgroundColor = "#FFE6E6";
    }
  }

}


@if(false) {
  <script src="/Content/Scripts/jquery.js"></script>
  <script src="/Content/Scripts/jquery.extra.js"></script>
  <script src="/Content/Scripts/Default.js"></script> }

@section scriptsTop {

  <script>



  </script>

}

<style>
  .pointerClick:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }

  #SubmitButtons {
    background: #8f8f8f;
    padding: 6px;
    color: #333333;
    font: normal 10px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 1000;
    height: 50px;
  }

  .VisitTypeUL, #VisitTypeUL {
    margin: 0px;
    padding: 0px;
  }

  .VisitTypeUL > li, #VisitTypeUL > li {
      display: inline-block;
      margin-right: 15px;
    }

  .radioLabel {
    margin-left: 8px;
    font-size: larger;
  }

  .DisplayFormItems li {
    display: block;
  }

  .fMembers {
    display: block; width: 150px; float: left; clear: both; overflow: auto; font-weight: normal;
  }

  .fMembersDesc { width: auto; float: none; clear: none; font-weight: normal; }

  .warning { color: #FF0000; }

  .DisplayFormItem {
    display: inline-block;
    float: left;
    width: 300px;
    min-height: 100px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 500em;
    margin-bottom: -500em;
  }

  .DisplayFormItems {
    padding: 0;
  }


  .mergeBox {
    display: inline-block;
    margin-left: 20px;
  }
  .mergeCheck {
    margin-left: 20px;
  }
  .mergeButton {
    margin-left: 20px;
  }

  .deleteSpan {
    margin: 4px 10px 0 0;
    display: inline-block;
    float: right;
  }

</style>

@section featured {
}


<div id="SearchResultsWrapper" class="col-md-12" style="display: none;">
  <div class="box box-solid box-danger">
    <div class="box-header">
      <h3 class="box-title">
        Search Results

      </h3>
    </div>
    <ul id="SearchResults" class="box-body"></ul>
  </div>
</div>


@if(Model.PageErrors.Count > 0) {
  <div class="col-md-12">
    <div class="box box-solid box-danger">
      <div class="box-header">
        <h3 class="box-title">@(Model.PageErrors.Count > 1 ? "Errors" : "Error")</h3>
      </div>
      <ul class="box-body">
        @foreach(string e in Model.PageErrors) {
          <li>
            @(e)
          </li>
        }
      </ul>
    </div>
  </div>
}

@if(Model.PageWarnings.Count > 0) {
  <div class="col-md-12">
    <div class="box box-solid box-warning">
      <div class="box-header">
        <h3 class="box-title">@(Model.PageWarnings.Count > 1 ? "Warnings" : "Warning")</h3>
      </div>
      <ul class="box-body">
        @foreach(string e in Model.PageWarnings) {
          <li>
            @(e)
          </li>
        }
      </ul>
    </div>
  </div>
}

@if(isFamilyEdit) {
  <script>
    //jQuery("#NewClientWrapper").hide();
  </script>
}

<div id="EditWrapper" class="col-md-12" style="background-color: @(backgroundColor); padding-top: 15px; padding-bottom:30px; ">
  @{
    string boxStyle = "box box-solid box-primary";
    if(isFamilyEdit) {
      boxStyle = "box box-solid box-success";
    }
  }
  <div class="@(boxStyle)">
    <div class="box-header">
      <h3 id="AddEditBox" class="box-title" style="width: auto; float:left; overflow: auto; ">
        @if(isFamilyEdit) {
          <text>Editing</text>
          if(Model.FamilyWeb != null && Model.FamilyWeb.FamilyHead != null && Model.FamilyWeb.FamilyHead.LastVisitDate > new DateTime(2014, 1, 1)) {
            if(Model.FamilyWeb.LastVisits.Count > 0) {
              if(Model.FamilyWeb.LastVisits.Any(a => a.VisitType == VisitType.Grocery)) {
                <span style="margin-left: 10px;">
                  (Last&nbsp;Grocery&nbsp;Visit:&nbsp;@(String.Format("{0:MMM dd yyyy}", Model.FamilyWeb.LastVisits.Where(w => w.VisitType == VisitType.Grocery).OrderByDescending(o => o.LastVisitDate).First().LastVisitDate)))
                </span>
              } else {
                <span style="margin-left: 10px;">
                  (Last&nbsp;Visit&nbsp;@String.Format("{0:MMM dd yyyy}", Model.FamilyWeb.FamilyHead.LastVisitDate) - @Model.FamilyWeb.FamilyHead.VisitType.ToDescription())
                </span>
              }
            }
          }
          if(Model.IsPostBackSuccessful) {
            <text> - Just Saved</text>
          }
        } else {
          <text>Adding New</text>
        }
      </h3>
      @if(Model.FamilyWeb.Count > 0) {
        <h3 id="AddEditBox2" class="box-title" style="width: auto; float: right; ">
          @(Model.FamilyWeb.Count) in Family
        </h3>
      }
    </div>
  </div>

    <div id="DisplayForm" style="display: @(DisplayFormCss) ">
      <form action="/Client/Index" method="post" id="Form2" role="form" autocomplete="off">
        <div class="box box-danger">
          <div class="box-header">
            @{
              string person2 = "Person";
              if(Model.FamilyWeb.Count > 1) {
                person2 = "People";
              }
            }
            <h3 class="box-title">This Visit - @(Model.FamilyWeb.Count) @(person2) </h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-lg-12" style="height: auto; overflow: auto; ">
                <ul class="VisitTypeUL" style="margin-bottom: 20px; ">
                  <li style="margin-left: 0px;">
                    <button id="ApplyGroceryVisit" type="button" class="btn btn-primary" style="background-color: #F56954; border-color: #F56954;" >Apply Grocery Visit</button>
                    <button id="ApplyBreadProduceVisit" type="button" class="btn btn-primary" style="background-color: #00A65A; border-color: #00A65A;" >Apply Bread And Produce Visit</button>
                    <button id="ShowEditFormButton" type="button" class="btn btn-primary">Edit Me</button>
                    @if(Model.FamilyWeb.LastVisits == null || Model.FamilyWeb.LastVisits.Count == 0) {
                      <button id="DeleteClient" type="button" class="btn btn-primary bg-red">Delete this Client</button>
                    }
                    <script>
                      jQuery("#ShowEditFormButton").click(function(){
                        jQuery("#DisplayForm").hide();
                        jQuery("#EditForm").show();
                      })
                    </script>
                  </li>
                </ul>
                  <ul class="VisitTypeUL" >
                    <li style="clear: both; display: block; ">
                      <div style="overflow: auto; height: auto; overflow: hidden; border: 1px solid gray; width: 700px; ">
                        <div class="DisplayFormItem" style="width: 300px; border-right: 1px solid gray;  ">
                          <ul class="DisplayFormItems" style=" ">
                            <li>
                              @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.FirstName) @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.LastName)
                            </li>
                            <li>
                              @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Address1)
                              @if(Model.FamilyWeb.FamilyHead.Address1 != "") {
                                <br />
                                @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Address2)
                              }
                            </li>
                            <li>
                              @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.City),&nbsp;FL&nbsp;&nbsp;@Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Zip)
                            </li>
                            <li>
                              @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Phone)
                            </li>
                            @{
                              fMemberClassName = "";
                              if(Model.FamilyWeb.FamilyHead.Year == "UKWN") {
                                fMemberClassName = "warning";
                              }
                            }
                            <li class="@(fMemberClassName)">
                              Birth Year: @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Year)
                            </li>

                            @{
                              fMemberClassName = "";
                              if(Model.FamilyWeb.FamilyHead.IdType == IdType.NONE || Model.FamilyWeb.FamilyHead.IdType == IdType.REQD || Model.FamilyWeb.FamilyHead.IdType == IdType.UKN) {
                                fMemberClassName = "warning";
                              }
                            }
                            <li class="@(fMemberClassName)">
                              Address ID Type: @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.IdType)
                            </li>

                            <li style="margin-bottom: 20px; ">
                              Social Last 4: @Html.DisplayTextFor(m => m.FamilyWeb.FamilyHead.Social)
                            </li>


                            @{bool isFirstPickUp = true; }
                            @foreach(var item in Model.FamilyWeb.PickUpAssociates) {
                              if(!String.IsNullOrWhiteSpace(item.FirstName)) {
                                if(isFirstPickUp) {
                                  isFirstPickUp = false;
                                  <li>
                                    Pickup Helpers
                                  </li>
                                }
                                <li>
                                  @(item.FirstName) @(item.LastName)
                                </li>
                              }
                            }

                          </ul>
                        </div>
                        <div class="DisplayFormItem" style="width: 340px; ">
                          <ul class="DisplayFormItems">
                            @foreach(var item in Model.FamilyWeb.FamilyMembers) {
                              if(!String.IsNullOrWhiteSpace(item.FirstName) && item.IsActive) {
                                <li>

                                  @{
                                fMemberClassName = "";
                                if(item.Year == "UKWN" || item.IdType == IdType.NONE || item.IdType == IdType.REQD || item.IdType == IdType.UKN) {
                                  fMemberClassName = "warning";
                                }
                                  }
                                  <label class="fMembers">@(item.FirstName) @(item.LastName)</label><label class="fMembersDesc @(fMemberClassName)"> - @(item.Year) - @(item.IdType.ToDescription())</label>
                                </li>
                              }
                            }


                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>

                @*@Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.VisitType, visitTypeSelectList, new { @class = "form-control", id = "InputFamilyHeadVisitType" })*@

              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="box box-danger">
          <div class="box-header">
            @if(Model.FamilyWeb.LastVisits.Count > 0) {
              <h3 class="box-title">Last @(Model.FamilyWeb.LastVisits.Count) @if(Model.FamilyWeb.LastVisits.Count == 1) { <text>Visit</text> } else { <text>Visits</text>}</h3>
            } else {
              <h3 class="box-title">No Perivous Visits</h3>
            }
          </div>
          <div class="box-body">
            @foreach(LastVisit lastVisit in Model.FamilyWeb.LastVisits) {
              if(lastVisit.LastVisitDate.Date < DateTime.Now.Date) {
                <script>
                  //setTimeout(function () {
                  //  jQuery("#ApplyVisitUpdate, #ApplyVisit").remove();
                  //}, 200);
                </script>
              }
              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    @{
              string person = " person on";
              if(lastVisit.NumberOfMembers > 1) {
                person = " people on";
              }
                    }
                    @("Serving: " + lastVisit.NumberOfMembers.ToString() + person)
                    @(String.Format("{0:yyyy-MMM-dd}", lastVisit.LastVisitDate))
                    @(lastVisit.VisitType.ToDescription())
                    @("at level: " + lastVisit.ServiceLevel.ToDescription())
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
            }
          </div>
          <!-- /.box-body -->
        </div>


        </form>
    </div>
    <div id="EditForm" style="display: @(EditFormCss) " >
      <form action="/Client/Index" method="post" id="Form1" role="form" autocomplete="off">
        <div class="col-md-6">

          @if(!String.IsNullOrWhiteSpace(Model.FamilyWeb.FamilyHead.CriticalNote)) {
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title" style="color: #FF0000;">Critical Note</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box box-danger">
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-8">
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.CriticalNote, new { @class = "form-control", id = "InputFamilyHeadCriticalNote", @maxlength = 128, placeholder = "Critical Note" })
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          }

          @if(Model.FamilyWeb.FamilyHead.FamilyID == 0) {
            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Interview</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.CreateDate, new { @class = "form-control", id = "InputFamilyHeadCreateDate", placeholder = "CreateDate", @Value = String.Format("{0:MM/dd/yy}", Model.FamilyWeb.FamilyHead.CreateDate) })
                  </div>
                  <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.IdType, idTypeSelectList, new { @class = "form-control", id = "InputFamilyIdType" })
                  </div>
                  <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Interviewer, new { @class = "form-control", id = "InputFamilyHeadInterviewer", placeholder = "Interviewer" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Social, new { @class = "form-control", id = "InputFamilyHeadSocial", @maxlength = 4, placeholder = "Social 4 / ClientID" })
                  </div>

                  <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.Year, yearsSelectList, new { @class = "form-control", id = "InputFamilyHeadMonth" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.FamilyType, familyTypeSelectList, new { @class = "form-control", id = "InputFamilyType" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <span class="input-group-addon">
                        @Html.CheckBoxFor(m => m.FamilyWeb.FamilyHead.IsFoodStamps, new { @class = "form-control CheckBoxClick", id = "InputFamilyHeadIsFoodStamps" })
                      </span>
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.FoodStampsReason, new { @class = "form-control", id = "InputFamilyHeadFoodStampsReason", @maxlength = 128, placeholder = "Food Stamps Reason" })
                    </div>
                    <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          } else {
         @*   <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">This Visit - @(Model.FamilyWeb.Count) Family Members</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-12">
                    <ul id="VisitTypeUL">
                      @{
            int ii = 0;

            foreach(var rButton in visitTypeSelectList) {
              ii = ii + 1;
              string ss = ii == 1 ? "Grocery" : "BreadAndProduce";
              <li>
                @Html.RadioButtonFor(m => m.FamilyWeb.FamilyHead.VisitType, value: ss, htmlAttributes: new { @Class = "radioButton", id = ss, selected = (ii == 1 ? "selected" : "") })<label for="@(ss)" class="radioLabel" id="@(ss + "Label")">@(rButton.Text)</label>
              </li>
            }
                      }
                    </ul>
                   @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.VisitType, visitTypeSelectList, new { @class = "form-control", id = "InputFamilyHeadVisitType" })

                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          *@
  <div class="box box-danger">
    <div class="box-header">
      @if(Model.FamilyWeb.LastVisits.Count > 0) {
        <h3 class="box-title">Last @(Model.FamilyWeb.LastVisits.Count) @if(Model.FamilyWeb.LastVisits.Count == 1) { <text>Visit</text> } else { <text>Visits</text>}</h3>
      } else {
        <h3 class="box-title">No Perivous Visits</h3>
      }
    </div>
    <div class="box-body">
      @foreach(LastVisit lastVisit in Model.FamilyWeb.LastVisits) {
        if(lastVisit.LastVisitDate.Date < DateTime.Now.Date) {
          <script>
            //setTimeout(function () {
            //  jQuery("#ApplyVisitUpdate, #ApplyVisit").remove();
            //}, 200);
          </script>
        }
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              @("Serving: " + lastVisit.NumberOfMembers.ToString() + " people on")
              @(String.Format("{0:yyyy-MMM-dd}", lastVisit.LastVisitDate))
              @(lastVisit.VisitType.ToDescription())
              @("at level: " + lastVisit.ServiceLevel.ToDescription())
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
      }
    </div>
    <!-- /.box-body -->
  </div>

          }

          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Family Head</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Names</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.FirstName, new { @class = "form-control", id = "InputFamilyHeadFirstName", @maxlength = 60, placeholder = "First Name" })
                    @Html.HiddenFor(m => m.FamilyWeb.FamilyHead.FamilyID)
                    @Html.HiddenFor(m => m.ShowSideBar, new { id = "ShowSideBar" })
                    <script>
                      var showSideBarLocal = 0;
                      if (@(Model.ShowSideBar) === -1){
                        if(jQuery.cookie('rightSide') === 'strech'){
                          showSideBarLocal = 0;
                        } else {
                          showSideBarLocal = 1;
                        }
                      } else if (@(Model.ShowSideBar) === 1){
                        showSideBarLocal = 1;
                      }
                      if(showSideBarLocal === 0) {
                        jQuery('.left-side').addClass("collapse-left");
                        jQuery(".right-side").addClass("strech");
                        jQuery("#OnScreenNumbers").hide();
                      } else {
                        jQuery('.left-side').removeClass("collapse-left");
                        jQuery(".right-side").removeClass("strech");
                        jQuery("#OnScreenNumbers").show();
                      }
                    </script>
                  </div>
                  <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.LastName, new { @class = "form-control", id = "InputFamilyHeadLastName", @maxlength = 60, placeholder = "Last Name" })
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div id="SubmitButtons" class="box-footer">
                @*@if(Model.FamilyWeb.FamilyHead.FamilyID > 0) {
                  <button id="ApplyVisit" type="button" class="btn btn-primary">Apply Visit</button>
                }*@
                @*<button id="ApplyVisitUpdate" type="button" class="btn btn-primary">Apply Visit & Save</button>*@
                <button id="ApplyUpdate" type="button" class="btn btn-primary">Save Only</button>
                <button id="Cancel" type="button" class="btn btn-primary">Cancel</button>
              </div>
            </div>


            @*<div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Identifiers</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-5">
                  @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Social, new { @class = "form-control", id = "InputFamilyHeadSocial", @maxlength = 4, placeholder = "Social 4 / ClientID" })
                </div>

                <div class="col-xs-4">
                  @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.Year, yearsSelectList, new { @class = "form-control", id = "InputFamilyHeadMonth" })
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-6">
                  @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.FamilyType, familyTypeSelectList, new { @class = "form-control", id = "InputFamilyType" })
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>*@


            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Addresses</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Address1, new { @class = "form-control", id = "InputFamilyHeadAddress1", @maxlength = 64, placeholder = "Address" })
                  </div>
                  <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Address2, new { @class = "form-control", id = "InputFamilyHeadAddress2", @maxlength = 64, placeholder = "Apt or Lot #" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Zip, new { @class = "form-control", id = "InputFamilyHeadZip", @maxlength = 12, placeholder = "Zip" })
                  </div>
                  <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.City, new { @class = "form-control", id = "InputFamilyHeadCity", @maxlength = 64, placeholder = "City" })
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>


            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Contact</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Phone, new { @class = "form-control", id = "InputFamilyHeadPhone", @maxlength = 16, placeholder = "Phone" })
                  </div>
                  @*<div class="col-xs-6">
                  @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Email, new { @class = "form-control", id = "InputFamilyHeadEmail", @maxlength = 64, placeholder = "Email" })
                </div>*@
                </div>
              </div>
              <!-- /.box-body -->
            </div>


            @if(Model.FamilyWeb.FamilyHead.FamilyID == 0) {
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">This Visit</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <ul id="VisitTypeUL">
                        @{
              int i2 = 0;

              foreach(var rButton in visitTypeSelectList) {
                i2 = i2 + 1;
                string s2 = i2 == 1 ? "Grocery" : "BreadAndProduce";
                <li>
                  @Html.RadioButtonFor(m => m.FamilyWeb.FamilyHead.VisitType, value: s2, htmlAttributes: new { @Class = "radioButton", id = s2, selected = (i2 == 1 ? "selected" : "") })<label for="@(s2)" class="radioLabel" id="@(s2 + "Label")">@(rButton.Text)</label>
                </li>
              }
                        }
                      </ul>
                      @*@Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.VisitType, visitTypeSelectList, new { @class = "form-control", id = "InputFamilyHeadVisitType" })*@

                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            }

          </div>

          @if(Model.FamilyWeb.FamilyHead.FamilyID > 0) {
            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">Interview</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.CreateDate, new { @class = "form-control", id = "InputFamilyHeadCreateDate", placeholder = "CreateDate", @Value = String.Format("{0:MM/dd/yy}", Model.FamilyWeb.FamilyHead.CreateDate) })
                  </div>
                  <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.IdType, idTypeSelectList, new { @class = "form-control", id = "InputFamilyIdType" })
                  </div>
                  <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Interviewer, new { @class = "form-control", id = "InputFamilyHeadInterviewer", placeholder = "Interviewer" })
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.Social, new { @class = "form-control", id = "InputFamilyHeadSocial", @maxlength = 4, placeholder = "Social 4 / ClientID" })
                  </div>

                  <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.Year, yearsSelectList, new { @class = "form-control", id = "InputFamilyHeadMonth" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyHead.FamilyType, familyTypeSelectList, new { @class = "form-control", id = "InputFamilyType" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <span class="input-group-addon">
                        @Html.CheckBoxFor(m => m.FamilyWeb.FamilyHead.IsFoodStamps, new { @class = "form-control CheckBoxClick", id = "InputFamilyHeadIsFoodStamps" })
                      </span>
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.FoodStampsReason, new { @class = "form-control", id = "InputFamilyHeadFoodStampsReason", @maxlength = 128, placeholder = "Food Stamps Reason" })
                    </div>
                    <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
              </div>
            </div>
          }


          <!-- /.box -->



          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Pick-Up Associates</h3>
            </div>
            <!-- /.box-header -->
            @{int aCounter = 0;}
            @foreach(var item in Model.FamilyWeb.PickUpAssociates) {
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Helper @((aCounter + 1).ToString())</h3>
                  @if(!String.IsNullOrWhiteSpace(item.FirstName)) {
                    <span class="deleteSpan" style="margin-left: 10px; "> <input type="button" class="btn btn-primary deleteMember" value="Delete" onclick="DeleteMember(@(item.id))" /></span>
                  }
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-6">
                      @Html.TextBoxFor(m => m.FamilyWeb.PickUpAssociates[aCounter].FirstName, new { @class = "form-control", @maxlength = 64, placeholder = "First Name" })
                      @Html.HiddenFor(m => m.FamilyWeb.PickUpAssociates[aCounter].id)
                      @Html.HiddenFor(m => m.FamilyWeb.PickUpAssociates[aCounter].FamilyID)
                      @Html.HiddenFor(m => m.FamilyWeb.PickUpAssociates[aCounter].FamilyRelationship)
                      @Html.HiddenFor(m => m.FamilyWeb.PickUpAssociates[aCounter].CreateDate)
                    </div>
                    <div class="col-xs-6">
                      @Html.TextBoxFor(m => m.FamilyWeb.PickUpAssociates[aCounter].LastName, new { @class = "form-control", @maxlength = 64, placeholder = "Last Name" })
                    </div>
                  </div>
                </div>
              </div>
              aCounter += 1;
            }
          </div>


          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Notes</h3>
            </div>

            @if(String.IsNullOrWhiteSpace(Model.FamilyWeb.FamilyHead.CriticalNote)) {
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Critital Note</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-12">
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyHead.CriticalNote, new { @class = "form-control", placeholder = "Critical Note" })
                    </div>
                  </div>
                </div>
              </div>
            }

            <div class="box box-danger">
              <div class="box-header">
                <h3 class="box-title">New Note</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.NewNote.Title, new { @class = "form-control", placeholder = "Title" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12">
                    @Html.TextAreaFor(m => m.NewNote.Body, new { @class = "form-control", rows = "6", placeholder = "Body" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.NewNote.EnteredBy, new { @class = "form-control", placeholder = "Who" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    @Html.DropDownListFor(m => m.NewNote.NoteType, noteType, new { @class = "form-control" })
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-4">
                    <button id="SaveNote" type="button" class="btn btn-primary">Save Note</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- /.box-header -->
            @if(Model.Notes.Count == 0) {
              <div class="box box-danger">
                <div class="box-header">
                  <p style="padding: 5px;">no notes found...</p>
                </div>
              </div>
            }

            @foreach(Note note in Model.Notes) {
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">@(note.Title)</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <p>
                        @(note.Body)
                      </p>
                      <p>
                        @(note.EnteredBy) on @(note.CreateDate.ToShortDateString())
                      </p>
                      @if(!String.IsNullOrWhiteSpace(note.TransferredTo)) {
                        <p>
                          @(note.TransferredTo) @(note.TransferDate)
                        </p>
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>



        </div>
        <!--/.col (left) -->







        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header">
              @{
                string familyMembers = "Family Member";
                if(Model.FamilyWeb.Count > 1) {
                  familyMembers = familyMembers + (Model.FamilyWeb.Count > 2 ? "s - " : " - ") + Model.FamilyWeb.Count.ToString();
                } else {
                  familyMembers = "Family Members";
                }              }
              <h3 class="box-title">@(familyMembers)</h3>
            </div>
            <!-- /.box-header -->
            @{ int mCounter = 0; int emptyCounter = 0; bool hasEmptyFirst = false;
            foreach(var item in Model.FamilyWeb.FamilyMembers) {
              if(String.IsNullOrWhiteSpace(item.FirstName)) {
                emptyCounter += 1;
              }
              if(emptyCounter > 3 && !hasEmptyFirst) {
                hasEmptyFirst = true;
                @Html.Raw(" <div id='AddMoreContainer' style='display: none; '>")
              }



              <div id="Member@(item.id)" class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Member @((mCounter + 1).ToString())</h3>
                  @if(!String.IsNullOrWhiteSpace(item.FirstName)) {
                    <span class="deleteSpan"> <input type="button" class="btn btn-primary deleteMember" value="Delete" onclick="DeleteMember(@(item.id))" /></span>
                  }
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-6">
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyMembers[mCounter].FirstName, new { @class = "form-control", @maxlength = 64, placeholder = "First Name" })
                      @Html.HiddenFor(m => m.FamilyWeb.FamilyMembers[mCounter].id)
                      @Html.HiddenFor(m => m.FamilyWeb.FamilyMembers[mCounter].FamilyID)
                      @Html.HiddenFor(m => m.FamilyWeb.FamilyMembers[mCounter].CreateDate)
                    </div>
                    <div class="col-xs-6">
                      @Html.TextBoxFor(m => m.FamilyWeb.FamilyMembers[mCounter].LastName, new { @class = "form-control rLastName", @maxlength = 64, placeholder = "Last Name" })
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <div class="row">
                    @*<div class="col-xs-4">
                    @Html.DropDownListFor(m => m.FamilyWeb.FamilyMembers[mCounter].Month, Model.Months, new { @class = "form-control" })
                  </div>*@
                    <div class="col-xs-3">
                      @Html.DropDownListFor(m => m.FamilyWeb.FamilyMembers[mCounter].Year, yearsSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4">
                      @Html.DropDownListFor(m => m.FamilyWeb.FamilyMembers[mCounter].FamilyRelationship, familyRelationshipList, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4">
                      @Html.DropDownListFor(m => m.FamilyWeb.FamilyMembers[mCounter].IdType, idTypeSelectList, new { @class = "form-control" })
                    </div>
                    <script>
                      jQuery("#@("FamilyWeb_FamilyMembers_" + mCounter.ToString() + "__IdType")").val("@(Model.FamilyWeb.FamilyMembers[mCounter].IdType)")
                    </script>
                  </div>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="input-group">
                        <label class="form-control checkbox-inline" for="@("IsActive" + @mCounter)">
                          @Html.CheckBoxFor(m => m.FamilyWeb.FamilyMembers[mCounter].IsActive, new { @class = "CheckBoxClick" })&nbsp;&nbsp;&nbsp;Active Or Serving Today
                        </label>
                        @Html.HiddenFor(m => m.ButtonClicked, new { id = "ButtonClicked" })
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              mCounter += 1;
            }}
            @if(hasEmptyFirst) {
              @Html.Raw("</div>")
            }
            @if(hasEmptyFirst) {
              <div  style="margin: 0 0 5px 5px; padding-bottom: 5px; ">
                <input type="button" id="AddMoreButton" class="btn btn-primary" value="Add Members"  />
              </div>
            }

          </div>
        </div>
      </form>
    </div> <!-- data entry -->
  @*}*@
</div>


@section scriptsBottom {

  <script>
    var head = {
      FirstName: "kevin",
      LastName: "brunner",
      Address1: "20632 Courtney Lane",
      Address2: "",
      City: "Eustis",
      State: "Florida",
      Zip: "32736",
      Phone: "4074305020",
      Email: "kevinnbrunner@gmail.com",
      Social: "6493",
      PIN: "1234"

    }


    var members = {
      members: [
        {
          FirstName: "Lucas",
          LastName: "Brunner",
          FamilyRelationship: "Son",
          Month: "August",
          Year: "2001",
          IsActive: true
        }
      ]
    }

  </script>

  <script id="resultsTemplate" type="text/x-jsrender">
    <div>
      {{:#index+1}}: <b>{{>FirstName}}{{>LastName}}</b> ({{>Address1}}) ({{>LastVisit}} {{>VisitType}})
    </div>
  </script>

  <script id="SearchTemplate" type="text/x-jsrender">
    <li>
      <!-- kevin -->
      <a href="/Client/Index/{{>FamilyID}}"><b>{{>Social}} {{>FirstName}} {{>LastName}}</b> ({{>Address1}} - {{>Phone}}) {{>LastVisit}}</a>
      <div class="mergeBox">
        <input type="checkbox" class="mergeCheck" rel="{{>FamilyID}}" value="Select To Merge" title="Select To Merge" name="c{{>FamilyID}}" /><label for="c{{>FamilyID}}" style="margin-left: 10px; ">Check to Merge</label>
        <input type="button" class="mergeButton" value="Merge" title="Merge" style="display: none; " />
      </div>
       @*<label class="pointerClick" onclick="ClickLink({{>FamilyID}})"> <b>{{>Social}} {{>FirstName}} {{>LastName}}</b> ({{>Address1}} - {{>Phone}}) {{>LastVisit}}</label>*@
    </li>
  </script>

  <script>
    jQuery("#GroceryLabel").click();
    jQuery(".rLastName").focus(function () {
      if (jQuery(this).val() === "") {
        jQuery(this).val(jQuery("#InputFamilyHeadLastName").val());
      }
    });

    jQuery("#ApplyVisit, #ApplyVisitOnly, #ApplyVisitUpdate, #ApplyUpdate, #SaveNote").click(function () {
      SaveUpdate(jQuery(this).attr("id"));
    });

    jQuery("#ApplyGroceryVisit").click(function () {
      SaveUpdate(jQuery(this).attr("id"));
    });

    jQuery("#ApplyBreadProduceVisit").click(function () {
      SaveUpdate(jQuery(this).attr("id"));
    });

    var mergeCount = 0;
    var mergeLink = "";
  </script>

  <script>
    jQuery(".CheckBoxClick").focus(function () { jQuery(this).parent().parent().css("backgroundColor", "yellow") }).blur(function () { jQuery(this).parent().parent().css("backgroundColor", "white") });
    jQuery(".radioButton ").focus(function () { jQuery(this).parent().css("backgroundColor", "yellow"), jQuery(this).parent().next().css("backgroundColor", "yellow") }).blur(function () { jQuery(this).parent().css("backgroundColor", "white"); jQuery(this).parent().next().css("backgroundColor", "white") });
  </script>

  <script>
    jQuery("#InputFamilyHeadZip").blur(function () {
      document.getElementById("InputFamilyHeadCity").value = ZipToCity(document.getElementById("InputFamilyHeadZip").value, document.getElementById("InputFamilyHeadCity").value);
    });

    jQuery("#InputFamilyHeadCity").blur(function(){
      document.getElementById("InputFamilyHeadZip").value = CityToZip(document.getElementById("InputFamilyHeadZip").value, document.getElementById("InputFamilyHeadCity").value)
    });

    jQuery("#InputFamilyHeadCreateDate").blur(function(){
      if(!CheckDate(jQuery(this).val())){
        alert("Error with this date");
      }
    });

    jQuery("#SearchQ2").keyup(function (event) {
      if (event.which == 13) {
        Search()
      }
    });

    jQuery("#searchBtn2").click(function () {
      Search()
    });

    jQuery("#AddMoreButton").click(function () {
      jQuery("#AddMoreContainer").show();
      jQuery(this).hide();
    });

    jQuery("#Cancel").click(function(){
      window.location.reload();
    });


  </script>

  @for(var iCounter = 0; iCounter < 10; iCounter++) {
    <script>
      jQuery("#FamilyWeb_FamilyMembers_" + "@(iCounter)" + "__Year").val('@(Model.FamilyWeb.FamilyMembers[iCounter].Year)')
      @*jQuery("#FamilyWeb_FamilyMembers_"+"@(iCounter)"+"__Month").val('@(Model.FamilyWeb.FamilyMembers[iCounter].Month)')*@
      jQuery("#FamilyWeb_FamilyMembers_" + "@(iCounter)" + "__FamilyRelationship").val('@(Model.FamilyWeb.FamilyMembers[iCounter].FamilyRelationship)')
    </script>
  }

  @if(!isFamilyEdit) {
    <script>
      setTimeout(function () { ChangeNewButton() }, 200);
    </script>
  } else {
    <script>
      // setTimeout(function(){ alert("not"); }, 200);
    </script>
  }

}

@if(Model.FamilyWeb.FamilyHead.FamilyID == 0) {
  <script>
    setTimeout(function(){
      jQuery("#InputFamilyHeadCreateDate").focus();
      //alert(jQuery("#InputFamilyHeadCreateDate").attr("id"));
    }, 200);
  </script>
} else {
  <script>
    setTimeout(function(){
      jQuery("#InputFamilyHeadFirstName").focus();
      //alert(jQuery("#InputFamilyHeadFirstName").attr("id"));
    }, 200);
  </script>

  <script>
    jQuery("#DeleteClient").click(function(){
      var isDelete = prompt("Please type 'delete'", "cancel");
      if(isDelete.toLocaleLowerCase()==="delete"){
        DeleteClient();
      }
    })

  </script>
}