﻿@using Pantry.Entities
@using Pantry.Utilities

@{

  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Client Merge";

  Layout = vg.PageLayout;


}


@if(false) {  <script src="/Content/Scripts/jquery.js"></script>  <script src="/Content/Scripts/jquery.extra.js"></script>  <script src="/Content/Scripts/Default.js"></script> }

@section scriptsTop {

  <script>



  </script>

}

<style>
  .pointerClick:hover { cursor: pointer; color: blue; text-decoration: underline; }

  #SubmitButtons {
    background: #8f8f8f;
    padding: 6px;
    color: #333333; 
    font: normal 10px Arial, Helvetica, sans-serif; 
    text-decoration: none; 
    text-transform: uppercase;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 1000;
    height: 50px;
  }

  #VisitTypeUL {
    margin: 0px;
    padding: 0px;
  }

  #VisitTypeUL li {
    display: inline-block;
    margin-right: 15px;
  }

  .radioLabel {
    margin-left: 8px; font-size: larger;
  }
</style>

@section featured {
}


<h1>Client Merge!</h1>

<h2>sorry, this is not yet working</h2>


@section scriptsBottom {


    <script>
    </script>

}

