﻿@{
  var vg = this.Html.GetViewGlobals();
  vg.PageTitle = "Help";

}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@vg.PageTitle</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Help!!!
            </p>
        </div>
    </section>
}

<h3>Some Hints:</h3>

<ol class="round">
    <li class="one">
        <h5>Search</h5>

    </li>

    <li class="two">
        <h5>Add</h5>
    </li>

    <li class="three">
        <h5>Edit</h5>
    </li>
</ol>
