﻿
<div class="sidebar-forma" style=" float: left; margin: -4px 0 0 10px; ">
  <div class="input-group">
    <input type="text" name="q2" class="form-control" id="SearchQ2" placeholder="Search..." style="width: 300px; " autocomplete="off" />
    <span class="input-group-btn" style="width: auto; ">
      <button type='button' name='seach' id='searchBtn2' class="btn btn-info btn-flat"><i class="fa fa-search)"></i></button>
    </span>
  </div>
</div>
