﻿@using Pantry.Config;
@using Pantry.Entities;
@using Pantry.Utilities;

@{
  var vg = this.Html.GetViewGlobals();
  string activeIcon = "";
  BreadCrumb activeCrumb = new BreadCrumb();
  if (vg.BreadCrumbs.Count > 0) {
    activeCrumb = vg.BreadCrumbs[vg.BreadCrumbs.Count - 1];
    activeIcon = activeCrumb.CrumbIcon.ToDescription();
  } else {
  }

}

<section class="content-header" style="overflow: auto;">
  <h1 style="float: left; ">
      Client Control
  </h1>

  <div class="sidebar-forma" style=" float: left; margin: -4px 0 0 10px; ">
    <div class="input-group">
      <input type="text" name="q2" class="form-control" id="SearchQ2" placeholder="Search..." style="width: 300px; " autocomplete="off" />
      <span class="input-group-btn" style="width: auto; ">
        <button type='button' name='seach' id='searchBtn2' class="btn btn-info btn-flat"><i class="@(WebIcons.WebApplicationIcons.fa_search.ToDescription())"></i></button>
      </span>
    </div>
  </div>

  <div id="NewClientWrapper" class="sidebar-forma" style=" float: left; margin: -4px 0 0 10px; " >
    @*<button id="NewClient" type="button" class="btn btn-primary">New Client</button>*@
    <a href="/Client/Index" class="btn btn-primary">New Client</a>
  </div>


  <ol class="breadcrumb">

 @foreach(BreadCrumb breadCrumb in vg.BreadCrumbs) {
  if(breadCrumb.Href.IsNotEmpty()) {
      <li>
        <a href="@(breadCrumb.Href)">
          @if(activeIcon.IsNotEmpty()){
            <i class="fa @(activeIcon)"></i>
          }
           @(breadCrumb.Text)</a>
      </li>
   } else {
      <li class="active">
          @(breadCrumb.Text)
      </li>
   }
 }
  </ol>
</section>

