﻿<!DOCTYPE html>
<html lang="en" ng-app="mApp">
<head>
  @using Pantry.Config;
  @using Pantry.Entities;
  @using Pantry.Utilities;

  @{

    var vg = this.Html.GetViewGlobals();

  }

  <meta charset="utf-8" />
  <title>@(vg.PageTitle) : FBCU Crisis Center</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <!-- Styles/bootstrap -->
  @Styles.Render("~/Styles/bootstrap")

  <!-- Content/css -->
  @Styles.Render("~/Content/css")

  <!-- bundles/modernizr -->
  @Scripts.Render("~/bundles/modernizr")

  <!-- Scripts/bootstrap -->
  @*@Scripts.Render("~/Scripts/bootstrap")*@

  @RenderSection("styles", required: false)
  @RenderSection("scriptsTop", required: false)

  @*@Scripts.Render("~/Scripts/angularjs")*@

  <script src="/Content/Scripts/angular.min.js"></script>
  <script src="/Content/Scripts/angular-route.min.js"></script>
  <script src="/Content/Scripts/angular-touch.min.js"></script>
  <script src="/Content/Scripts/angular-messages.min.js"></script>
  <script src="/Content/Scripts/angular-Cookies.min.js"></script>
  @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>*@
</head>
<body >

  @*<body class="mobile skin-blue" style=" margin: 0; padding: 0; height: 100%;">*@
    <header class="header">
      <a href="/" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        FBCU - Crisis Center
      </a>

      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Help", "Index", "Home")</li>
          </ul>
        </div>

      </nav>
    </header>

    <div>
      <div id="searchReturn" style="display: block;" ng-controller="mobileSearchController">

      </div>



      <div id="familyMobile" style="min-height: 100%; position:relative; ">

        @RenderSection("featured", required: false)
        @RenderBody()

        <div id="submitButtonMobile">

        </div>
      </div>
    </div>


    @RenderSection("scriptsBottom", required: false)

  </body>
</html>
