﻿<!DOCTYPE html>
<html lang="en">
<head>
  @using Pantry.Config;
  @using Pantry.Entities;
  @using Pantry.Utilities;

  @{

    var vg = this.Html.GetViewGlobals();

  }

  <meta charset="utf-8" />
  <title>@(vg.PageTitle) : FBCU Crisis Center</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <!-- Styles/bootstrap -->
  @Styles.Render("~/Styles/bootstrap")

  <!-- Content/css -->
  @Styles.Render("~/Content/css")

  <!-- bundles/modernizr -->
  @Scripts.Render("~/bundles/modernizr")

  <!-- Scripts/bootstrap -->
  @*@Scripts.Render("~/Scripts/bootstrap")*@




  @RenderSection("styles", required: false)
  @RenderSection("scriptsTop", required: false)

  @Scripts.Render("~/Scripts/bootstrap")


</head>
<body class="skin-blue" style=" margin: 0; padding: 0; height: 100%;" >
  <header class="header">
    <a href="/" class="logo">
      <!-- Add the class icon to your logo image or logo icon to add the margining -->
      FBCU - Crisis Center
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("Help", "Index", "Home")</li>
        </ul>
      </div>

    </nav>
  </header>

  <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="@(vg.Account.Avatar)" class="img-circle" alt="Lynda" /><!--lynda-->
            <img src="@(vg.Account.Avatar2)" class="img-circle" alt="John" /><!--john-->
          </div>
          <div class="pull-left info">
            <p>Hello!</p>

            <a href="#"><i class="@(WebIcons.WebApplicationIcons.fa_circle) text-success"></i> Online</a>
          </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="active">
            <a href="index.html">
              <i class="@(WebIcons.WebApplicationIcons.fa_dashboard)"></i> <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="pages/widgets.html">
              <i class="@(WebIcons.TextEditorIcons.fa_th.ToDescription())"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="@(WebIcons.WebApplicationIcons.fa_bar_chart_o.ToDescription())"></i>
              <span>Charts</span>
              <i class="@(WebIcons.DirectionalIcons.fa_angle_left.ToDescription()) pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/morris.html"><i class="@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> Basic</a></li>
              <li><a href="pages/charts/flot.html"><i class=  "@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> Flot</a></li>
              <li><a href="pages/charts/inline.html"><i class="@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> Inline charts</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Stuff</span>
              <i class="@(WebIcons.DirectionalIcons.fa_angle_left.ToDescription()) pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="/Stuff/one"><i class="@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> one</a></li>
              <li><a href="/Stuff/two"><i class=  "@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> two</a></li>
              <li><a href="/Stuff/three"><i class="@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> three</a></li>
              <li><a href="/Stuff/four"><i class= "@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> four</a></li>
              <li><a href="/Stuff/fiv"><i class=  "@(WebIcons.DirectionalIcons.fa_angle_double_right.ToDescription())"></i> five</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </aside>

    <aside class="right-side">
      @*@Html.Partial("~/Views/Shared/_Dashboard.cshtml")*@
      <section class="content" style="clear: both; ">
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="FamiliesServedCount">
                  @(vg.FamiliesCount)
                </h3>
                <p>
                  Todays Families
                </p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="@(WebIcons.DirectionalIcons.fa_arrow_circle_right.ToDescription())"></i>
              </a>
            </div>
          </div><!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="FamilyMembersServedCount">
                  @(vg.FamilyMembersCount)
                </h3>
                <p>
                  Total Family Members Served
                </p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="@(WebIcons.DirectionalIcons.fa_arrow_circle_right.ToDescription())"></i>
              </a>
            </div>
          </div><!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>
                  53<sup style="font-size: 20px">%</sup>
                </h3>
                <p>
                  Some Percentage
                </p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div><!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>
                  @(vg.ServiceLevel.ToDescription())
                </h3>
                <p>
                  Service Level
                </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="@(WebIcons.DirectionalIcons.fa_arrow_circle_right.ToDescription())"></i>
              </a>
            </div>
          </div><!-- ./col -->
        </div><!-- /.row -->


        <div class="row" style="min-height: 100%; position:relative; " >
          @RenderSection("featured", required: false)
          @RenderBody()
        </div>

      </section>
    </aside>
  </div>

  @*<div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>*@



  <footer>
    <div class="content-wrapper" style="background-color: #e8e8e8; ">
      <div class="float-left" style="margin-left: 20px; background-color: #e8e8e8; padding: 8px 5px 5px 5px; ">
        <p>&copy; @DateTime.Now.Year - FBCU Crisis Center : Food Pantry : Soup Kitchen : Prayer Ministry</p>
      </div>
    </div>
  </footer>

  @*@Scripts.Render("~/bundles/jquery")*@
  @RenderSection("scriptsBottom", required: false)

</body>
</html>
